@page "/learnBlazor/bindProp"

<h3 class="text-success">Individual Product</h3>
<div class="row">
	<div class=" col-6 border p-3">
		<h3 class="text-primary">Product Summary</h3><hr />
		Name:@Product.Name <br />
		Active: @Product.IsActive<br />
		Price: @Product.Price <br />
		This Product is : @(Product.IsActive ? "Active" : "InActive")<br />
		Property Selected : @selectedProp <br />
		@if (!string.IsNullOrEmpty(selectedProp))
		{
			<p>Property Value : @Product.ProductProperties.FirstOrDefault(u => u.Key == selectedProp).Value</p>
		}
		@*Price: <input type="number" @bind-value="@Product.Price" @bind-value:event ="oninput"/>
			<br/>*@
	</div>
	<br />
	<div class=" col-6 border p-3">

		<h3 class="text-primary">Product Playground</h3><hr />


		<div>
			Active: <input type="checkbox" @bind="@Product.IsActive" @bind:event="oninput" />
		</div>

		<div>
			Price: <input type="number" @bind="@Product.Price" @bind:event="oninput" />
		</div>
		<div>
			Product Properties : <select @bind="selectedProp">
				@foreach (var prop in Product.ProductProperties)
				{
					<option value="@prop.Key">@prop.Key</option>
				}
			</select>
		</div>
	</div>
	<br />
	<div class="col-12"><h3 class="text-success">Product Table</h3>
	<table class="table table-striped">
		<tbody>
		@foreach (var product in Products)
		{
			<tr>
				<td><input @bind=@product.Name @bind:event="oninput" /></td>
				<td><input type="number" @bind-value=@product.Price @bind-value:event="oninput" /></td>
				<td><input type="checkbox" @bind="@product.IsActive" @bind:event="oninput" /></td>
			</tr>
		}

		</tbody>
	</table>
	<div>
		<h3 class="text-primary">Product Summary</h3>
		@foreach (var prop in Products)
		{
			<p>@prop.Name  @prop.Price  @(prop.IsActive ? "Active": "IsActive")</p>
		}
	</div>
	
	</div>
</div>


@code {
	private string selectedProp = string.Empty;
	TangyModels.LearnBlazorModels.DemoProduct Product = new()
		{
			Id = 1,
			Name = "Rose Candle",
			IsActive = false,
			Price = 10.99,
			ProductProperties = new List<DemoProductProp>(){
				new DemoProductProp{Id = 1, Key = "Color", Value = "Black"},
				new DemoProductProp{Id = 2, Key = "Flavor", Value = "Rose Jasmine"},
				new DemoProductProp{Id = 3, Key = "Size", Value = "20oz"},
			}
		};
	List<TangyModels.LearnBlazorModels.DemoProduct> Products = new();
	protected override void OnInitialized()
	{
		Products.Add(new()
			{
				Id = 1,
				Name = "Midnight Blaze",
				IsActive = false,
				Price = 100,
				ProductProperties = new()
				{
					new DemoProductProp { Id = 1, Key = "Flavor", Value = "Rose" },
					new DemoProductProp { Id = 2, Key = "Size", Value = "20oz" },
					new DemoProductProp { Id = 3, Key = "Color", Value = "Purple" }
				}
			});
		Products.Add(new()
			{
				Id = 2,
				Name = "Blossom Lily",
				Price = 100,
				IsActive = true,
				ProductProperties = new()
				{
					new DemoProductProp { Id = 1, Key = "Flavor", Value = "Lily" },
					new DemoProductProp { Id = 2, Key = "Size", Value = "18oz" },
					new DemoProductProp { Id = 3, Key = "Color", Value = "White" }
				}
			});
	}
}
